
@{
    ViewBag.Title = "Step3";
    Layout = "/Views/Shared/_FormLayout.cshtml";
}

<div class="section-header page_step3">
    <div class="Title">ADD PHOTO</div>
    <div class="Description">
        <h3><b>Step 3 :</b> Editing</h3>
    </div>
</div>
<div class="col-md-2">
</div>
<div class="col-md-8">
    <video src="123" autoplay="true" id="videoElement" style="width:100%;height:450px;"></video>
    <div>

    </div>
</div>
<div class="col-md-2">
</div>


<div class="clearfix"></div>
<div style="text-align:center;margin-top:20px;">
    <a class="button">Complete Step 3</a>
</div>


